<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="user-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-pages selected="[[componetName]]" attr-for-selected="componet-name">
      <div componet-name="login-usuario"><login-usuario on-myevent="processEvent"></login-usuario></div>
      <div componet-name="visor-usuario"><visor-usuario userid="[[userid]]" id="receiver"></visor-usuario></div>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componetName: {
            type: String,
            value: "login-usuario"
          }, userid:{
            type: Number
          }
        };
      }

      processEvent(e){
        console.log("--processEvent--");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.userid = e.detail.userid;

        this.componetName = "visor-usuario";

      }

    } //Close class

    window.customElements.define(UserDashboard.is, UserDashboard);
  </script>
</dom-module>
