<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1 class="jumbotron">TEST IRON PAGES</h1>
    <select value="{{componetName::change}}">
      <option>Seleccionar componente</option>
      <option value="login-usuario">Login usuario</option>
      <option value="visor-usuario">Visor usuario</option>
      <option value="visor-cuentas">Visor cuentas</option>
    </select>
    <iron-pages selected="[[componetName]]" attr-for-selected="componet-name">
      <div componet-name="login-usuario"><login-usuario></login-usuario></div>
      <div componet-name="visor-usuario"><visor-usuario id="300"></visor-usuario></div>
      <div componet-name="visor-cuentas"><visor-cuentas userid="2"></visor-cuentas></div>
    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componetName: {
            type: String
          }
        };
      }
    } //Close class

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
