<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="email" type="email" value="{{email::input}}" required></input>
    <input placeholder="password" type="password" value="{{password::input}}" required></input>
    <button on-click="login">Login</button>
    <span hidden$="{{isLogged}}">Error en el login, intentalo de nuevo</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: "cr7@correo.com"
          }, password: {
            type: String,
            value: "qwerty12"
          }, isLogged: {
            type: Boolean,
            value: true
          }
        };
      }

      login(){
        console.log("--login--");
        console.log(this.email);

        var loginData = {
          "email":this.email,
          "password":this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petción de lgin enviada");
      }

      manageAJAXResponse(data){
        console.log("--manageAJAXResponse--");
        console.log(data.detail.response);
        this.isLogged = true;

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail": {
                "userid": data.detail.response.idUsuario
              }
            }
          )
        )

      }

      showError(error){
        console.log("--showError--");
        console.log(error);
        this.isLogged = false;

      }
    } //Close class

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
