<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <h1>Sus cuentas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">IBAN</th>
         <th scope="col">Saldo</th>
         <th scope="col">Moneda</th>
       </tr>
      <tbody>
         <template is="dom-repeat" items="{{accounts}}">
           <tr>
           <td>{{item.IBAN}}</td>
           <td>{{item.amount}}</td>
           <td>{{item.currency}}</td>
          </tr>
         </template>
       </tbody>

   <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/apitechu/v1/accounts/{{userid}}"
     handle-as="json"
     on-response="showData">
   </iron-ajax>
 </template>

 <script>
   /**
    * `visor-cuentas`
    * Visor de cuentas
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         userid : {
           type: Number,
           observer: '_useridChanged'
         }, accounts: {
           type: Array
         }
       };
     }

     showData(data) {
       console.log(data.detail.response);
       this.accounts = data.detail.response;
     }

     _useridChanged(newValue, oldValue){
       console.log("--_courseChanged--");
       console.log("Old value was " + oldValue);
       console.log("New value was " + newValue);

       this.$.getAccounts.generateRequest();
       console.log("Petción de getAccounts enviada");
     }
   }

   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
