<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]]</h3>
    <button on-click="verCuentas">Ver cuentas</button>
    <div id="cuentascontainer" hidden="true"><visor-cuentas id="cuentas"></visor-cuentas></div>


    <iron-ajax
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: Number,
            observer: '_useridChanged'
          }
        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
      }

      _useridChanged(newValue, oldValue){
        console.log("--_useridChanged--");
        console.log("Old value was " + oldValue);
        console.log("New value was " + newValue);

        this.$.getUser.generateRequest();
        console.log("Petción de getUser enviada");
      }

      verCuentas(){
        console.log("--verCuentas--");
        this.$.cuentas.userid = 2;
        this.$.cuentascontainer.hidden = false;
      }

    } //Close class

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
