<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-estilos">
  <template>
    <style>
      :host {
        display: block;
        /*all:initial;*/
        border: solid blue;
      }
      .redbg{
        background-color: red;
      }

      .greenbg{
        background-color: green;
      }

      .bluebg{
        background-color: blue;
      }

      .greybg{
        background-color: grey;
      }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h3>Visor estilos</h3>
    <div class="row greybg">
      <div class="col-2 offset-1 redbg">Col 1</div>
      <div class="col-3 offset-2 greenbg">Col 2</div>
      <div class="col-4 col-sm-1 bluebg">Col 3</div>
    </div>
    <button class="btn btn-primary btn-lg">Login</button>
    <button class="btn-secondary" btn-sm>Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Login</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Login</button>
    <button class="btn btn-light">Login</button>
    <button class="btn btn-dark">Login</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorEstilos extends Polymer.Element {
      static get is() { return 'visor-estilos'; }
      static get properties() {
        return {};
      }
    } //Close class

    window.customElements.define(VisorEstilos.is, VisorEstilos);
  </script>
</dom-module>
